In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv("data_selected.csv")

### Time to remove outliers

In [3]:
# can we make data cleaning a function?
def data_clean(col_name, df2):
    Q1 = df2[col_name].quantile(.25)
    Q3 = df2[col_name].quantile(.75)
    IQR = Q3 - Q1
    out_top = Q3 + IQR
    out_bottom = Q1 - IQR
    df2 = df2[df2[col_name] <= out_top]
    df2 = df2[df2[col_name] >= out_bottom]
    return df2

In [4]:
df2 = data_clean("bedrooms", df)

In [5]:
df2.drop("Unnamed: 0", axis = 1, inplace = True)

In [6]:
df2.drop("lat", axis = 1, inplace = True)
df2.drop("long", axis = 1, inplace = True)
df2.drop("sqft_above", axis = 1, inplace = True)

In [7]:
#copied in data set about which city each zipcode belongs to
#zipcodes = pd.read_clipboard()
#zipcodes.to_csv("zipcodes.csv")
zipcodes = pd.read_csv("zipcodes.csv")

In [8]:
zipcodes['Population'] = zipcodes['Population'].str.replace(",","")

In [9]:
zipcodes['Population'] = zipcodes['Population'].astype(int)

In [10]:
zipcodes['ZIP Code'] = zipcodes['ZIP Code'].str[-6:].astype(int)

In [11]:
zipcodes.drop("Classification", axis = 1, inplace = True)
zipcodes.drop("Timezone", axis = 1, inplace = True)
zipcodes.drop("Area Code(s)", axis = 1, inplace = True)

In [12]:
zipcodes.rename(columns={"ZIP Code": "zipcode"}, inplace = True)

In [13]:
#mergeing into main dataframe
df3 = df2.merge(zipcodes, on='zipcode', how='left')

In [14]:
df3.drop('Unnamed: 0', axis = 1, inplace = True)

In [15]:
#df3 = data_clean("price", df3)
df3

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15,cond_num,grade_num,view_num,City,Population
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,1955,0.0,98178,1340,5650,2.0,4.0,0.0,Seattle,24092
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,1951,1991.0,98125,1690,7639,2.0,4.0,0.0,Seattle,37081
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,1933,NaN,98028,2720,8062,2.0,3.0,0.0,Kenmore,20419
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,1965,0.0,98136,1360,5000,4.0,4.0,0.0,Seattle,14770
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,1987,0.0,98074,1800,7503,2.0,5.0,0.0,Sammamish,25748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20506,6669080120,2014-12-15,405000.0,4,2.50,1980,5020,2.0,NO,NONE,...,2007,0.0,98056,1980,5064,2.0,5.0,0.0,Renton,32489
20507,9211010300,2014-07-07,509900.0,3,2.50,3030,9053,2.0,NO,NONE,...,2009,0.0,98059,3010,6026,2.0,5.0,0.0,Renton,34463
20508,3277800823,2014-08-20,327000.0,2,2.00,1490,1627,2.0,NO,NONE,...,2009,0.0,98126,1400,1498,2.0,4.0,0.0,Seattle,20698
20509,8835770330,2014-08-19,1060000.0,2,1.50,2370,184231,2.0,NO,NONE,...,2005,0.0,98045,3860,151081,2.0,5.0,0.0,North Bend,13888
20510,1220000371,2014-12-31,327500.0,3,2.50,1820,1866,2.0,NO,NONE,...,2008,0.0,98166,1660,6900,2.0,4.0,0.0,Seattle,20301

In [16]:
df5 = df3

In [17]:
df5['bed/bath'] = df5['bedrooms']/df5['bathrooms']

In [18]:
df5['water_bool'] = df5['waterfront'].str.replace("NO", "0")
df5['water_bool'] = df5['water_bool'].str.replace("YES", "1")
df5.dropna(subset = ['water_bool'], inplace = True)

In [19]:
df5['water_bool'] = df5['water_bool'].astype(int)

In [28]:
df6 = df5.drop(['waterfront', 'view', 'condition', 'grade', 'id', 'date'], axis = 1)

In [ ]:
#df6 = df5.drop(columns = ['bath/bed','waterbool','id', 'date', 'waterfront', 'view', 'condition', 'grade', 'sqft_living15', 'sqft_lot15', 'Unnamed: 0'])

In [29]:
df6 = df6.dropna(subset = ['yr_renovated'])

In [30]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15025 entries, 1 to 20510
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          15025 non-null  float64
 1   bedrooms       15025 non-null  int64
 2   bathrooms      15025 non-null  float64
 3   sqft_living    15025 non-null  int64
 4   sqft_lot       15025 non-null  int64
 5   floors         15025 non-null  float64
 6   sqft_basement  15025 non-null  float64
 7   yr_built       15025 non-null  int64
 8   yr_renovated   15025 non-null  float64
 9   zipcode        15025 non-null  int64
 10  sqft_living15  15025 non-null  int64
 11  sqft_lot15     15025 non-null  int64
 12  cond_num       15025 non-null  float64
 13  grade_num      15025 non-null  float64
 14  view_num       15025 non-null  float64
 15  City           15025 non-null  object
 16  Population     15025 non-null  int32
 17  bed/bath       15025 non-null  float64
 18  water_bool     15025 non-null  int32
dtypes: float64(9), int32(2), int64(7), object(1)
memory usage: 2.2+ MB

In [37]:
df6['grade_num'] = np.where(df6['grade_num'] == 0.0, 1.0, df6['grade_num'])
#only 1 value was at 0.0 had to replace for future processing

In [41]:
df6_list = list(df6.columns)

In [43]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15025 entries, 1 to 20510
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          15025 non-null  float64
 1   bedrooms       15025 non-null  int64
 2   bathrooms      15025 non-null  float64
 3   sqft_living    15025 non-null  int64
 4   sqft_lot       15025 non-null  int64
 5   floors         15025 non-null  float64
 6   sqft_basement  15025 non-null  float64
 7   yr_built       15025 non-null  int64
 8   yr_renovated   15025 non-null  float64
 9   zipcode        15025 non-null  int64
 10  sqft_living15  15025 non-null  int64
 11  sqft_lot15     15025 non-null  int64
 12  cond_num       15025 non-null  float64
 13  grade_num      15025 non-null  float64
 14  view_num       15025 non-null  float64
 15  City           15025 non-null  object
 16  Population     15025 non-null  int32
 17  bed/bath       15025 non-null  float64
 18  water_bool     15025 non-null  int32
dtypes: float64(9), int32(2), int64(7), object(1)
memory usage: 2.2+ MB

In [47]:
X = df6[df6_list].drop(columns=['price', 'City', 'view_num', 'cond_num', 'sqft_lot'])
y = df6['price']

model_1 = sm.OLS(endog = y, exog=sm.add_constant(X)).fit()
model_1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.611
Model:                            OLS   Adj. R-squared:                  0.611
Method:                 Least Squares   F-statistic:                     1684.
Date:                Mon, 12 Sep 2022   Prob (F-statistic):               0.00
Time:                        17:48:05   Log-Likelihood:            -2.0638e+05
No. Observations:               15025   AIC:                         4.128e+05
Df Residuals:                   15010   BIC:                         4.129e+05
Df Model:                          14
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const         -2.148e+06   3.84e+06     -0.560      0.576   -9.67e+06    5.37e+06
bedrooms      -1.275e+05   4691.186    -27.169      0.000   -1.37e+05   -1.18e+05
bathrooms      1.749e+05   7909.142     22.108      0.000    1.59e+05     1.9e+05
sqft_living     232.9038      4.612     50.505      0.000     223.865     241.943
floors         4.669e+04   4759.623      9.809      0.000    3.74e+04     5.6e+04
sqft_basement     4.3457      5.648      0.769      0.442      -6.724      15.416
yr_built      -3105.0709     87.281    -35.576      0.000   -3276.151   -2933.990
yr_renovated     15.7320      4.904      3.208      0.001       6.120      25.344
zipcode          81.0107     38.600      2.099      0.036       5.349     156.672
sqft_living15    94.4763      4.366     21.640      0.000      85.919     103.034
sqft_lot15       -0.7311      0.069    -10.604      0.000      -0.866      -0.596
grade_num      3920.7471   1565.551      2.504      0.012     852.077    6989.417
Population       -1.4569      0.169     -8.635      0.000      -1.788      -1.126
bed/bath       1.182e+05   7201.305     16.409      0.000    1.04e+05    1.32e+05
water_bool     7.331e+05    2.2e+04     33.324      0.000     6.9e+05    7.76e+05
==============================================================================
Omnibus:                     8346.732   Durbin-Watson:                   1.974
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           217242.220
Skew:                           2.160   Prob(JB):                         0.00
Kurtosis:                      21.120   Cond. No.                     2.18e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.18e+08. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [50]:
lr = LinearRegression()

#col_selector = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       #'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'cond_num',
       #'grade_num', 'view_num', 'Population', 'bed/bath',
       #'water_bool']
X = df6[df6_list].drop(columns=['price', 'City', 'view_num', 'cond_num', 'sqft_lot'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
lr.fit(X_train, y_train)
print(lr.coef_)
print(X.columns)
print(lr.intercept_)
print(lr.score(X_train, y_train))

[-1.34189617e+05  1.82902555e+05  2.39439052e+02  5.15580191e+04
  6.34653399e+00 -3.06148162e+03  1.85103825e+01  1.09309062e+02
  8.62816261e+01 -6.84040905e-01  5.65010083e+03 -1.45441063e+00
  1.28565023e+05  7.24230912e+05]
Index(['bedrooms', 'bathrooms', 'sqft_living', 'floors', 'sqft_basement',
       'yr_built', 'yr_renovated', 'zipcode', 'sqft_living15', 'sqft_lot15',
       'grade_num', 'Population', 'bed/bath', 'water_bool'],
      dtype='object')
-5037095.627712671
0.6148211082779926

In [ ]:
X = df6.drop(columns=['price', 'City', 'sqft_lot','yr_renovated','cond_num','grade_num','view_num'])
y = df6['price']

model_1 = sm.OLS(endog = y, exog=sm.add_constant(X)).fit()
model_1.summary()

# The end

DO NOT USE df_numeric OR df4 BEFORE THIS

## attempted to clean and messed up. replace df6 with df3 or df4 where appropriate

In [ ]:
#df4 = df3
#df4 = df3.dropna(subset = ['yr_renovated', 'waterfront'])

In [52]:
X_zipcode = pd.get_dummies(df6['zipcode'], drop_first = True)
X_zipcode

,98002,98003,98004,98005,98006,98007,98008,98010,98011,98014,...,98146,98148,98155,98166,98168,98177,98178,98188,98198,98199
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20506,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20507,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20508,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20509,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20510,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [53]:
df6 = pd.concat([df6, X_zipcode], axis = 1)

In [ ]:
#df_numeric = df4.drop(columns=['id','date', 'waterfront', 'view', 'condition', 'grade', 'City', 'zipcode', 'Unnamed: 0', 'Population'])

In [ ]:
#df_numeric['bath/bed'] = df_numeric['bathrooms']/df_numeric['bedrooms']
#df_numeric.head()

In [ ]:
#sns.histplot(data = df_numeric, x = df_numeric['bath/bed'], y = df_numeric['price'])

In [58]:
X = df6.drop(columns=['price', 'City', 'view_num', 'cond_num', 'sqft_lot'])
y = df6['price']

model_1 = sm.OLS(endog = y, exog=sm.add_constant(X)).fit()
model_1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.797
Model:                            OLS   Adj. R-squared:                  0.796
Method:                 Least Squares   F-statistic:                     724.4
Date:                Mon, 12 Sep 2022   Prob (F-statistic):               0.00
Time:                        17:52:24   Log-Likelihood:            -2.0150e+05
No. Observations:               15025   AIC:                         4.032e+05
Df Residuals:                   14943   BIC:                         4.038e+05
Df Model:                          81
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const         -9697.7216    489.178    -19.825      0.000   -1.07e+04   -8738.874
bedrooms      -9.213e+04   3444.376    -26.748      0.000   -9.89e+04   -8.54e+04
bathrooms      1.286e+05   5776.569     22.271      0.000    1.17e+05     1.4e+05
sqft_living     240.8111      3.398     70.869      0.000     234.151     247.472
floors        -4.475e+04   3843.078    -11.644      0.000   -5.23e+04   -3.72e+04
sqft_basement   -77.3629      4.312    -17.942      0.000     -85.815     -68.911
yr_built       -419.1250     71.900     -5.829      0.000    -560.059    -278.192
yr_renovated     15.8903      3.578      4.441      0.000       8.877      22.904
zipcode           8.0613      1.426      5.654      0.000       5.267      10.856
sqft_living15    54.4899      3.371     16.164      0.000      47.882      61.098
sqft_lot15        0.1826      0.054      3.372      0.001       0.076       0.289
grade_num      1514.3344   1136.756      1.332      0.183    -713.848    3742.517
Population       -9.2268      0.373    -24.762      0.000      -9.957      -8.496
bed/bath       1.027e+05   5254.912     19.536      0.000    9.24e+04    1.13e+05
water_bool     8.521e+05   1.63e+04     52.225      0.000     8.2e+05    8.84e+05
98002          2.906e+04   1.71e+04      1.696      0.090   -4517.614    6.26e+04
98003          1.162e+05   1.82e+04      6.373      0.000    8.05e+04    1.52e+05
98004          7.503e+05   1.43e+04     52.463      0.000    7.22e+05    7.78e+05
98005          1.944e+05   1.55e+04     12.543      0.000    1.64e+05    2.25e+05
98006          3.509e+05    1.5e+04     23.474      0.000    3.22e+05     3.8e+05
98007           2.05e+05   1.85e+04     11.080      0.000    1.69e+05    2.41e+05
98008            2.1e+05   1.38e+04     15.229      0.000    1.83e+05    2.37e+05
98010         -1.914e+05    1.9e+04    -10.070      0.000   -2.29e+05   -1.54e+05
98011          8.781e+04   1.69e+04      5.206      0.000    5.48e+04    1.21e+05
98014         -1.534e+05   1.71e+04     -8.994      0.000   -1.87e+05    -1.2e+05
98019         -1.451e+05    1.5e+04     -9.692      0.000   -1.74e+05   -1.16e+05
98022         -7.912e+04   1.44e+04     -5.485      0.000   -1.07e+05   -5.08e+04
98023          1.251e+05   1.79e+04      7.008      0.000    9.01e+04     1.6e+05
98024          -1.14e+05   2.05e+04     -5.553      0.000   -1.54e+05   -7.38e+04
98027          1.114e+05   1.29e+04      8.669      0.000    8.62e+04    1.37e+05
98028          1.335e+04   1.31e+04      1.019      0.308   -1.23e+04     3.9e+04
98029          1.525e+05   1.32e+04     11.565      0.000    1.27e+05    1.78e+05
98030          1.634e+04   1.64e+04      0.999      0.318   -1.57e+04    4.84e+04
98031          6.601e+04   1.66e+04      3.971      0.000    3.34e+04    9.86e+04
98032          3.688e+04   1.98e+04      1.862      0.063   -1935.928    7.57e+04
98033          4.041e+05   1.45e+04     27.817      0.000    3.76e+05    4.33e+05
98034          2.981e+05   1.56e+04     19.106      0.000    2.68e+05    3.29e+05
98038          1.622e+04   1.29e+04      1.260      0.208   -9002.381    4.14e+04
98039          9.309e+05   2.65e+04     35.074      0.000    8.79e+05    9.83e+05
98040          4.649e+05   1.39e+04     33.416      0.000    4.38e+05    4.92e+05
98042          1.115e+05   1.65e+04      6.765      0.000    7.92e+04    1.44e+05
98045         -5.937e+04   1.36e+04     -4.369      0.000    -8.6e+04   -3.27e+04
98052          4.869e+05   2.12e+04     23.016      0.000    4.45e+05    5.28e+05
98053          5.325e+04   1.15e+04      4.633      0.000    3.07e+04    7.58e+04
98055         -5.368e+04   1.38e+04     -3.881      0.000   -8.08e+04   -2.66e+04
98056          1.077e+05   1.41e+04      7.611      0.000    7.99e+04    1.35e+05
98058          1.232e+05   1.65e+04      7.450      0.000    9.08e+04    1.56e+05
98059          1.022e+05   1.45e+04      7.053      0.000    7.38e+04    1.31e+05
98065         -1.232e+05   1.19e+04    -10.363      0.000   -1.46e+05   -9.99e+04
98070         -1.787e+05   1.78e+04    -10.046      0.000   -2.14e+05   -1.44e+05
98072          6.105e+04   1.36e+04      4.478      0.000    3.43e+04    8.78e+04
98074          1.323e+05   1.27e+04     10.406      0.000    1.07e+05    1.57e+05
98075          6.405e+04   1.24e+04      5.177      0.000    3.98e+04    8.83e+04
98077         -5.042e+04   1.38e+04     -3.643      0.000   -7.75e+04   -2.33e+04
98092          4.266e+04   1.66e+04      2.568      0.010    1.01e+04    7.52e+04
98102          4.183e+05   2.21e+04     18.911      0.000    3.75e+05    4.62e+05
98103           4.99e+05   1.76e+04     28.404      0.000    4.65e+05    5.33e+05
98105          6.117e+05   1.97e+04     31.123      0.000    5.73e+05     6.5e+05
98106          7.577e+04   1.34e+04      5.639      0.000    4.94e+04    1.02e+05
98107          2.945e+05   1.37e+04     21.488      0.000    2.68e+05    3.21e+05
98108          4.293e+04   1.62e+04      2.651      0.008    1.12e+04    7.47e+04
98109          3.902e+05   2.06e+04     18.944      0.000     3.5e+05    4.31e+05
98112          5.624e+05   1.39e+04     40.383      0.000    5.35e+05     5.9e+05
98115          4.992e+05   1.75e+04     28.459      0.000    4.65e+05    5.34e+05
98116          2.578e+05    1.3e+04     19.887      0.000    2.32e+05    2.83e+05
98117          3.463e+05   1.35e+04     25.708      0.000     3.2e+05    3.73e+05
98118          2.926e+05   1.67e+04     17.502      0.000     2.6e+05    3.25e+05
98119           4.39e+05   1.65e+04     26.540      0.000    4.07e+05    4.71e+05
98122          3.707e+05   1.58e+04     23.493      0.000     3.4e+05    4.02e+05
98125          2.619e+05   1.55e+04     16.856      0.000    2.31e+05    2.92e+05
98126           1.34e+05   1.27e+04     10.532      0.000    1.09e+05    1.59e+05
98133          2.931e+05   1.72e+04     17.064      0.000    2.59e+05    3.27e+05
98136          1.384e+05    1.3e+04     10.679      0.000    1.13e+05    1.64e+05
98144          2.758e+05   1.39e+04     19.808      0.000    2.49e+05    3.03e+05
98146          5.224e+04   1.44e+04      3.637      0.000    2.41e+04    8.04e+04
98148          -1.51e+05   2.46e+04     -6.135      0.000   -1.99e+05   -1.03e+05
98155          1.669e+05   1.42e+04     11.746      0.000    1.39e+05    1.95e+05
98166         -2.222e+04   1.39e+04     -1.601      0.109   -4.94e+04    4986.215
98168          6.963e+04   1.63e+04      4.262      0.000    3.76e+04    1.02e+05
98177          1.536e+05   1.36e+04     11.295      0.000    1.27e+05     1.8e+05
98178         -2.491e+04   1.44e+04     -1.734      0.083   -5.31e+04    3247.123
98188         -5.116e+04   1.85e+04     -2.766      0.006   -8.74e+04   -1.49e+04
98198          5.457e+04   1.63e+04      3.357      0.001    2.27e+04    8.64e+04
98199          3.329e+05    1.3e+04     25.621      0.000    3.07e+05    3.58e+05
==============================================================================
Omnibus:                    11453.869   Durbin-Watson:                   1.988
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           869668.185
Skew:                           3.056   Prob(JB):                         0.00
Kurtosis:                      39.767   Cond. No.                     3.17e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.61e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [ ]:
%pprint

In [ ]:
list(df_numeric.columns)

In [59]:
lr = LinearRegression()

col_selector = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'sqft_basement', 'yr_built', 'yr_renovated', 
                'sqft_living15', 'sqft_lot15', 'cond_num', 'grade_num', 'view_num', 98002, 98003, 98004, 98005, 98006, 
                98007, 98008, 98010, 98011, 98014, 98019, 98022, 98023, 98024, 98027, 98028, 98029, 98030, 98031, 98032, 
                98033, 98034, 98038, 98039, 98040, 98042, 98045, 98052, 98053, 98055, 98056, 98058, 98059, 98065, 98070, 
                98072, 98074, 98075, 98077, 98092, 98102, 98103, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 98116, 
                98117, 98118, 98119, 98122, 98125, 98126, 98133, 98136, 98144, 98146, 98148, 98155, 98166, 98168, 98177, 
                98178, 98188, 98198, 98199, 'bed/bath', 'bath/bed']
X = df_numeric[col_selector]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
lr.fit(X_train, y_train)
print(lr.coef_)
print(X.columns)
print(lr.intercept_)
print(lr.score(X_train, y_train))
print(lr.score(X_test,y_test))

ValueError: Boolean array expected for the condition, not int64

In [ ]:
#coefs = lr.coef_

list(zip(coefs,df_numeric.columns))

In [ ]:
y_pred = lr.predict(X_test)

In [ ]:
y_pred[0:10]

In [ ]:
MAE = mean_absolute_error(y_pred, y_test)
MAE

In [ ]:
RMSE = np.sqrt(mean_squared_error(y_pred, y_test))
RMSE

In [ ]:
plt.figure(figsize = (10,5))
sns.scatterplot(x = y_pred, y= y_test)
plt.show()

In [ ]:
col_selector2 = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'sqft_basement', 'yr_built', 'yr_renovated', 
                'sqft_living15', 'cond_num', 'grade_num', 'view_num', 98002, 98003, 98004, 98005, 98006, 
                98007, 98008, 98010, 98011, 98014, 98019, 98022, 98023, 98024, 98027, 98028, 98029, 98030, 98031, 98032, 
                98033, 98034, 98038, 98039, 98040, 98042, 98045, 98052, 98053, 98055, 98056, 98058, 98059, 98065, 98070, 
                98072, 98074, 98075, 98077, 98092, 98102, 98103, 98105, 98106, 98107, 98108, 98109, 98112, 98115, 98116, 
                98117, 98118, 98119, 98122, 98125, 98126, 98133, 98136, 98144, 98146, 98148, 98155, 98166, 98168, 98177, 
                98178, 98188, 98198, 98199, 'bed/bath', 'bath/bed']
X = df_numeric[col_selector2]
y = df_numeric['price']

model_3 = sm.OLS(endog = y, exog=sm.add_constant(X)).fit()
model_3.summary()