In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
df = pd.read_csv("data_selected.csv")
df.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,cond_num,grade_num,view_num
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,NaN,...,1955,0.0,98178,47.5112,-122.257,1340,5650,2.0,4.0,0.0
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,NO,...,1951,1991.0,98125,47.7210,-122.319,1690,7639,2.0,4.0,0.0
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,NO,...,1933,NaN,98028,47.7379,-122.233,2720,8062,2.0,3.0,0.0
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,NO,...,1965,0.0,98136,47.5208,-122.393,1360,5000,4.0,4.0,0.0
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,NO,...,1987,0.0,98074,47.6168,-122.045,1800,7503,2.0,5.0,0.0

### Time to remove outliers

In [3]:
# can we make data cleaning a function?
def data_clean(col_name, df2):
    Q1 = df2[col_name].quantile(.25)
    Q3 = df2[col_name].quantile(.75)
    IQR = Q3 - Q1
    out_top = Q3 + IQR
    out_bottom = Q1 - IQR
    df2 = df2[df2[col_name] <= out_top]
    df2 = df2[df2[col_name] >= out_bottom]
    return df2

In [4]:
df2 = data_clean("bedrooms", df)

In [5]:
df2.drop("Unnamed: 0", axis = 1, inplace = True)

In [6]:
df2.drop("lat", axis = 1, inplace = True)
df2.drop("long", axis = 1, inplace = True)
df2.drop("sqft_above", axis = 1, inplace = True)

In [7]:
#copied in data set about which city each zipcode belongs to
#zipcodes = pd.read_clipboard()
#zipcodes.to_csv("zipcodes.csv")
zipcodes = pd.read_csv("zipcodes.csv")

In [8]:
zipcodes['Population'] = zipcodes['Population'].str.replace(",","")

In [9]:
zipcodes['Population'] = zipcodes['Population'].astype(int)

In [10]:
zipcodes['ZIP Code'] = zipcodes['ZIP Code'].str[-6:].astype(int)

In [11]:
zipcodes.drop("Classification", axis = 1, inplace = True)
zipcodes.drop("Timezone", axis = 1, inplace = True)
zipcodes.drop("Area Code(s)", axis = 1, inplace = True)

In [12]:
zipcodes.rename(columns={"ZIP Code": "zipcode"}, inplace = True)

In [13]:
#mergeing into main dataframe
df3 = df2.merge(zipcodes, on='zipcode', how='left')

In [14]:
df3

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,sqft_living15,sqft_lot15,cond_num,grade_num,view_num,Unnamed: 0,City,Population
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,0.0,98178,1340,5650,2.0,4.0,0.0,108,Seattle,24092
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,1991.0,98125,1690,7639,2.0,4.0,0.0,80,Seattle,37081
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,NaN,98028,2720,8062,2.0,3.0,0.0,20,Kenmore,20419
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,0.0,98136,1360,5000,4.0,4.0,0.0,87,Seattle,14770
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,0.0,98074,1800,7503,2.0,5.0,0.0,52,Sammamish,25748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20506,6669080120,2014-12-15,405000.0,4,2.50,1980,5020,2.0,NO,NONE,...,0.0,98056,1980,5064,2.0,5.0,0.0,40,Renton,32489
20507,9211010300,2014-07-07,509900.0,3,2.50,3030,9053,2.0,NO,NONE,...,0.0,98059,3010,6026,2.0,5.0,0.0,43,Renton,34463
20508,3277800823,2014-08-20,327000.0,2,2.00,1490,1627,2.0,NO,NONE,...,0.0,98126,1400,1498,2.0,4.0,0.0,81,Seattle,20698
20509,8835770330,2014-08-19,1060000.0,2,1.50,2370,184231,2.0,NO,NONE,...,0.0,98045,3860,151081,2.0,5.0,0.0,33,North Bend,13888
20510,1220000371,2014-12-31,327500.0,3,2.50,1820,1866,2.0,NO,NONE,...,0.0,98166,1660,6900,2.0,4.0,0.0,102,Seattle,20301

In [15]:
df3 = data_clean("price", df3)
df3

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,sqft_living15,sqft_lot15,cond_num,grade_num,view_num,Unnamed: 0,City,Population
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,0.0,98178,1340,5650,2.0,4.0,0.0,108,Seattle,24092
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,1991.0,98125,1690,7639,2.0,4.0,0.0,80,Seattle,37081
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,NaN,98028,2720,8062,2.0,3.0,0.0,20,Kenmore,20419
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,0.0,98136,1360,5000,4.0,4.0,0.0,87,Seattle,14770
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,0.0,98074,1800,7503,2.0,5.0,0.0,52,Sammamish,25748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20505,8562770720,2015-04-23,589999.0,3,2.50,2140,3628,2.0,NO,NONE,...,0.0,98027,2280,2812,2.0,5.0,0.0,19,Issaquah,26141
20506,6669080120,2014-12-15,405000.0,4,2.50,1980,5020,2.0,NO,NONE,...,0.0,98056,1980,5064,2.0,5.0,0.0,40,Renton,32489
20507,9211010300,2014-07-07,509900.0,3,2.50,3030,9053,2.0,NO,NONE,...,0.0,98059,3010,6026,2.0,5.0,0.0,43,Renton,34463
20508,3277800823,2014-08-20,327000.0,2,2.00,1490,1627,2.0,NO,NONE,...,0.0,98126,1400,1498,2.0,4.0,0.0,81,Seattle,20698
20510,1220000371,2014-12-31,327500.0,3,2.50,1820,1866,2.0,NO,NONE,...,0.0,98166,1660,6900,2.0,4.0,0.0,102,Seattle,20301

In [21]:
df4 = df3
df4 = df3.dropna(subset = ['yr_renovated', 'waterfront'])

In [28]:
X_zipcode = pd.get_dummies(df4['zipcode'], drop_first = True)
X_zipcode

,98002,98003,98004,98005,98006,98007,98008,98010,98011,98014,...,98146,98148,98155,98166,98168,98177,98178,98188,98198,98199
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20505,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20506,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20507,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20508,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20510,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [35]:
df4 = pd.concat([df4, X_zipcode], axis = 1)

In [36]:
df_numeric = df4.drop(columns=['id','date', 'waterfront', 'view', 'condition', 'grade', 'City', 'zipcode'])

In [37]:
X = df_numeric.drop(columns=['price'])
y = df_numeric['price']

model_1 = sm.OLS(endog = y, exog=sm.add_constant(X)).fit()
model_1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.800
Model:                            OLS   Adj. R-squared:                  0.799
Method:                 Least Squares   F-statistic:                     674.2
Date:                Mon, 12 Sep 2022   Prob (F-statistic):               0.00
Time:                        13:49:14   Log-Likelihood:            -1.7691e+05
No. Observations:               13864   AIC:                         3.540e+05
Df Residuals:                   13781   BIC:                         3.546e+05
Df Model:                          82
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          6.005e+05   7.09e+04      8.476      0.000    4.62e+05    7.39e+05
bedrooms      -8150.5198   1190.424     -6.847      0.000   -1.05e+04   -5817.127
bathrooms      1.944e+04   1826.073     10.648      0.000    1.59e+04     2.3e+04
sqft_living     133.9833      2.120     63.189      0.000     129.827     138.140
sqft_lot          0.3071      0.026     11.920      0.000       0.257       0.358
floors        -1.572e+04   2134.401     -7.367      0.000   -1.99e+04   -1.15e+04
sqft_basement   -50.9719      2.557    -19.937      0.000     -55.983     -45.960
yr_built       -308.3941     40.121     -7.687      0.000    -387.036    -229.752
yr_renovated     14.9676      2.077      7.207      0.000      10.897      19.038
sqft_living15    54.9081      2.031     27.035      0.000      50.927      58.889
sqft_lot15        0.0072      0.040      0.180      0.857      -0.071       0.085
cond_num       1052.7037   1125.368      0.935      0.350   -1153.171    3258.578
grade_num       497.5347    648.760      0.767      0.443    -774.123    1769.192
view_num      -1014.8085    974.813     -1.041      0.298   -2925.575     895.958
Unnamed: 0     2662.4489     71.876     37.042      0.000    2521.562    2803.336
Population       -1.7889      0.293     -6.099      0.000      -2.364      -1.214
98002          1.028e+04   8915.001      1.153      0.249   -7193.509    2.78e+04
98003          2.734e+04   9110.160      3.001      0.003    9484.620    4.52e+04
98004          4.732e+05   1.06e+04     44.664      0.000    4.52e+05    4.94e+05
98005          3.174e+05   9809.409     32.358      0.000    2.98e+05    3.37e+05
98006          2.813e+05   7758.573     36.262      0.000    2.66e+05    2.97e+05
98007          2.486e+05   1.01e+04     24.546      0.000    2.29e+05    2.68e+05
98008          2.296e+05   7750.773     29.623      0.000    2.14e+05    2.45e+05
98010          1.283e+04   1.26e+04      1.022      0.307   -1.18e+04    3.75e+04
98011          1.102e+05   8621.017     12.787      0.000    9.33e+04    1.27e+05
98014          2.437e+04   1.16e+04      2.105      0.035    1673.102    4.71e+04
98019          4551.7129      1e+04      0.455      0.649   -1.51e+04    2.42e+04
98022         -4.111e+04   8086.812     -5.083      0.000    -5.7e+04   -2.53e+04
98023         -2.058e+04   8318.341     -2.474      0.013   -3.69e+04   -4277.520
98024          5.544e+04   1.34e+04      4.153      0.000    2.93e+04    8.16e+04
98027          1.382e+05   6531.753     21.159      0.000    1.25e+05    1.51e+05
98028          6.664e+04   7341.241      9.078      0.000    5.23e+04     8.1e+04
98029          1.784e+05   6832.707     26.107      0.000    1.65e+05    1.92e+05
98030         -4.884e+04   7515.184     -6.499      0.000   -6.36e+04   -3.41e+04
98031         -3.346e+04   7464.143     -4.482      0.000   -4.81e+04   -1.88e+04
98032         -4.748e+04   9448.225     -5.025      0.000    -6.6e+04    -2.9e+04
98033          2.604e+05   6763.680     38.496      0.000    2.47e+05    2.74e+05
98034          1.464e+05   6646.803     22.032      0.000    1.33e+05    1.59e+05
98038         -4.031e+04   5389.292     -7.480      0.000   -5.09e+04   -2.98e+04
98039          4.558e+05   5.59e+04      8.155      0.000    3.46e+05    5.65e+05
98040          3.245e+05   9572.153     33.897      0.000    3.06e+05    3.43e+05
98042         -5.102e+04   6759.225     -7.549      0.000   -6.43e+04   -3.78e+04
98045         -3646.5443   8473.892     -0.430      0.667   -2.03e+04     1.3e+04
98052          2.191e+05      1e+04     21.816      0.000    1.99e+05    2.39e+05
98053           1.07e+05   6678.465     16.028      0.000    9.39e+04     1.2e+05
98055         -7.941e+04   6861.586    -11.573      0.000   -9.29e+04    -6.6e+04
98056          7471.4944   5638.470      1.325      0.185   -3580.674    1.85e+04
98058         -5.031e+04   6574.697     -7.652      0.000   -6.32e+04   -3.74e+04
98059          -1.01e+04   5674.346     -1.781      0.075   -2.12e+04    1019.225
98065         -4.556e+04   7789.650     -5.848      0.000   -6.08e+04   -3.03e+04
98070          4312.9588   1.05e+04      0.410      0.682   -1.63e+04    2.49e+04
98072          2.801e+04   6793.389      4.123      0.000    1.47e+04    4.13e+04
98074           8.97e+04   5580.583     16.073      0.000    7.88e+04    1.01e+05
98075           8.76e+04   6527.349     13.420      0.000    7.48e+04       1e+05
98077          8771.0991   8534.296      1.028      0.304   -7957.283    2.55e+04
98092         -1.414e+05   6267.589    -22.567      0.000   -1.54e+05   -1.29e+05
98102          2.368e+05   1.26e+04     18.844      0.000    2.12e+05    2.61e+05
98103           1.99e+05   7454.225     26.703      0.000    1.84e+05    2.14e+05
98105          2.289e+05   9666.414     23.682      0.000     2.1e+05    2.48e+05
98106         -5.549e+04   6043.779     -9.182      0.000   -6.73e+04   -4.36e+04
98107          1.541e+05   6338.639     24.304      0.000    1.42e+05    1.66e+05
98108         -6.864e+04   7618.977     -9.008      0.000   -8.36e+04   -5.37e+04
98109           2.14e+05   1.16e+04     18.412      0.000    1.91e+05    2.37e+05
98112          2.218e+05   8504.556     26.084      0.000    2.05e+05    2.39e+05
98115          1.666e+05   7244.627     23.003      0.000    1.52e+05    1.81e+05
98116          1.122e+05   5855.129     19.165      0.000    1.01e+05    1.24e+05
98117          1.316e+05   4806.572     27.375      0.000    1.22e+05    1.41e+05
98118         -3074.1598   6466.705     -0.475      0.635   -1.57e+04    9601.463
98119          2.121e+05   8796.313     24.116      0.000    1.95e+05    2.29e+05
98122          1.174e+05   6518.428     18.006      0.000    1.05e+05     1.3e+05
98125           787.3804   5672.770      0.139      0.890   -1.03e+04    1.19e+04
98126         -1.566e+04   5938.863     -2.636      0.008   -2.73e+04   -4014.665
98133         -4.065e+04   6511.744     -6.243      0.000   -5.34e+04   -2.79e+04
98136          2.229e+04   7428.588      3.000      0.003    7724.515    3.68e+04
98144          4000.1682   5941.720      0.673      0.501   -7646.412    1.56e+04
98146          -1.45e+05   6257.902    -23.176      0.000   -1.57e+05   -1.33e+05
98148         -2.452e+05   1.38e+04    -17.759      0.000   -2.72e+05   -2.18e+05
98155         -1.054e+05   5244.285    -20.094      0.000   -1.16e+05   -9.51e+04
98166          -1.69e+05   7231.041    -23.371      0.000   -1.83e+05   -1.55e+05
98168         -2.304e+05   6615.991    -34.822      0.000   -2.43e+05   -2.17e+05
98177         -6.918e+04   7664.696     -9.026      0.000   -8.42e+04   -5.42e+04
98178         -2.305e+05   6817.792    -33.812      0.000   -2.44e+05   -2.17e+05
98188         -2.766e+05   9178.790    -30.133      0.000   -2.95e+05   -2.59e+05
98198         -2.563e+05   6751.367    -37.960      0.000    -2.7e+05   -2.43e+05
98199          2.934e+04   7699.434      3.811      0.000    1.42e+04    4.44e+04
==============================================================================
Omnibus:                      988.863   Durbin-Watson:                   2.021
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3378.312
Skew:                           0.322   Prob(JB):                         0.00
Kurtosis:                       5.331   Cond. No.                     3.06e+19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.88e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""